* {
  margin: 0;
  padding: 0;
}

#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  background-color: gray; /* delete or change later */
}

.hex {
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
}

.hex::after {
  content: '';
  display: block;
  padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}

#hexGrid {
  padding-bottom: 4.4%
}

.hex {
  width: 12.5%; /* = 100 / 8 */
}

.hex:nth-child(15n+9){ /* first hexagon of even rows */
margin-left: 6.25%;  /* = width of .hex / 2  to indent even rows */
}

@media (max-width: 400px) {
  #hexGrid {
      font-size: 13px;
  }
}
