<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">

<head>
    <title>About Us</title>
</head>

<body>
<div layout:fragment="content">

    <h2 class="form-signin-heading text-center">About Us</h2>

    <p class="form-signin">ProjectRaven is an authentication provider for Clash of Ice and Fire client application.</p>

    <p class="form-signin">We take away the security concerns of your client application so you do can focus on matters to you.</p>

</div>
</body>

</html>
